<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->


    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start border-top pt-5">
            <!-- Grid row -->
            <div class="row mt-0">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h5 class="text-uppercase fw-bold mb-2">
                        Session
                    </h6>
                    <h6 class="text-uppercase mb-4">
                        Learning is a lifestyle
                    </h6>
                    <p>
                        We offer the best tutoring and accompaniment services
                        making learning an experience and lifestyle.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Tutoring
                    </h6>
                    <p>
                        <a href="{{ site.baseurl }}/#language" class="text-reset" onclick="show('lang');">Language</a>
                    </p>
                    <p>
                        <a href="{{ site.baseurl }}/#business" class="text-reset" onclick="show('busi');">Business</a>
                    </p>
                    <p>
                        <a href="{{ site.baseurl }}/#technology" class="text-reset" onclick="show('tech');">Technology</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p>Casablanca, Californie, Maroc</p>
                    <p>
                        
                        contact.session4@gmail.com
                    </p>
                    <p> +212 6 40 17 95 60 </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
</footer>