main{
    min-height: 100vh;
    overflow-x: hidden;
}

.nav-item {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500; 
}

.nav-link.active{
    color: white;
}

nav{
    opacity: 1;
}

.navbar-nav{
    margin: auto; 
    margin-right: 3vw;  
}

#signin{
    font-weight: 600;
    font-size: 2.5vh;
    border-style: none;
    border-radius: 5rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container-fluid::-webkit-scrollbar {
    display: none;
}


#arggs{
    height: 400vh;
}

.textlang{
    height:100vh;
    z-index: 2;
}
.textlangg{
    height:100vh;
    z-index: 2;
    background-color: transparent;
}

.texttech{
    z-index: 2;
}
.texttechh{
    height:100vh;
    z-index: 2;
    background-color: transparent;
}

div#medlang, div#medtech{
    height:100vh;
    width: 55vw;
}

.medlang{
    opacity:0 !important;
    transition: opacity 0s !important;
}


.medlang.show{
    
    opacity:1!important;
    
}

.medtech{
    opacity:0;
    transition: opacity 0s;
}

.medtech.show{
    position: relative;
    opacity:1;
}
#vid2{
    position: absolute; 
    z-index: -3;
    top: -120%;
    
}
#vid1{
    position: absolute; 
    z-index: -2;
    top: -10%;  
}
.speci-btn{
    border: none !important;    
}

.fun{
    height:100vh;
}


@media only screen and (max-width: 992px) {
    
    div#medlang, div#medtech{
        height:80vh !important;
        width: 100% !important;
        opacity: 1 !important;
    }

    #decoy{
        width: 80% !important; 
    }
    
    section#title{
        height: 100vh !important;    
        position: relative !important;
        background-position: 20%;
        background-image: url('../images/cover.svg') !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;   
    }
    #prod_menu{
        width: 100% !important;
        
    }
    .medtech, .medlang{
        opacity:1 !important;
        
    }
    .medtech{
        display: none !important;
    }
    #vid2, #vid1{
        position: relative !important; 
        top: 0 !important;  
        z-index: 1 !important;
        width: 100% !important;
        height: auto !important;
        
    }
}







#snaptext::-webkit-scrollbar {
    display: none;
}


#signin_white{
    background:transparent;
    color: white;
    font-weight: 600;
    font-size: 2.5vh;
    border-style: dashed;
    border-color: white;
    border-width: 0.4vh;
    border-radius: 5rem;
}

#login{
    width: 30vw;
    height: 100vh;
}
/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */

@media all and (max-width:992px) {

    a#signin{
        
        width: 120px;
        margin: auto;
    }
    div.signin{
        width: 120px;
        margin:auto;
    }
}



.heading{
    color: black;
    padding-left: inherit;
    
}


section#blog_title{
    height: 80vh;   
    position: relative;
    
    /* background-image: url('blog-cover.jpeg') ; */
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;   
}
a.check-spec{
    color: #193383; 
    text-decoration: none;
 }
a.check-spec:hover{
    text-decoration: underline;
}
section#title{
    height: 100vh;    
    position: relative;
    background-image: url('../images/cover.svg') ;
    background-size: cover;
    background-repeat: no-repeat;   
}
h1{
    font-size: 7vh;
}
h2{
    font-size: 5.5vh;
}
#theme-desc{
    font-size: 1.5rem;
    font-weight: 450;
}
.row{
    padding-bottom: 4vh;
}
#startsession{
    margin-left: 10px;
    padding: 2vh 2.5vw;
    color: black;
}
button#startsession:hover{
    color:white !important;
}
div#light_header{
    background-color: rgba(255, 255, 255, 0.9) ;
}

div#dark_header{
    background-color: rgb(37, 37, 37) ;
}
.container#heading{
    padding-bottom: 5%;
    
}
button#technology{
    background:white;
    border-color:  #532ddd;
    color:  #532ddd;
}
button#technology:hover{
    background:#532ddd !important;
    border-color:  #532ddd !important;
    color:  white !important;
}

.btn{
    font-weight: 500;
}
section#session-description{
    height:100vh;
    /* background-image: url('../images/grn-pti.svg') ;
    background-size: 120%;
    background-position: center; */
    /* background-size: 100%; */

    
}
#sessdescr{
    background-image: url('../images/grn-pti.svg') ;
    background-size: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
}

section#about-description{
    
    background-image: url('../images/grn-pti.svg') ;
    background-size: contain;
    background-color: #052325;
    background-repeat: no-repeat;
    background-position: center;
    
}

span{
    font-weight: 300;
}

button.btn{
    border-radius: 5rem;
}

#join{
    font-weight: 500;
    font-size: 1.5vw;
}
#readmore{
    font-weight: 500;
    font-size: 1.5vw;
    border-radius: 5rem;
}
button.btn.bouton-out{
    border-width: 0.4vh;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 0;
}

#session-indicators{
    height: 100vh;
}
.form-check-input:checked{
    background-color: darkgray;
    border-color: darkgray;
}

label#darkModeLabel{
    font-weight: 500;
}

#blog_disp{
    padding: 0vh 28vw;
}

div.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
#navbarSupportedContent > ul > li.nav-item.dropdown > ul{
    border-width: 0.4vh;
    border-color: black;
    border-radius: 0;
}

#prod_menu{
    width: 25vw;
    height: 30vh;
}
#bord_left{
    border-width: 0.4vh;
    border-color: black;
    border-left: solid;
}
#tutoring_intro{
    background-color: #f16163;
    height: 100vh;
}
#tutoring_topics{
    background-color: rgb(61, 209, 202);
}
#tr_display{
    min-height: 230px;
    background: white;
    border-radius: 1rem;
}


