{% extends "session_store/base.html" %}
{% block content %}
    <section class="" id="blog_title" >
        <div class="overlay d-flex align-items-center">
            <div class="container-fluid img-fluid px-0" id="blog_cont">
            
                <div class="row gx-0">
                    <div class="col align-self-center text-light text-start" id="blog_disp">
                        <h2>One of three columns asf asd asd as das das da sd asd ad s</h2>
                        <p class="text-break py-2 fs-5"> class check check check check check class check check check check check class check check check check check class check check check check check </p>
                        <p class="text-break fst-italic">asdfasdf D123, ASDA SD</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
        
    